language: csharp
script: |
  if [ -n "$GITHUB_API_KEY" ]; then
    cd "$TRAVIS_BUILD_DIR"
    #
    # init
    #
    rm -rf ./_gh_pages || exit 0
    mkdir ./_gh_pages
    mkdir ./_gh_pages/assets
    #
    # clone + update
    #
    git clone -b gh-pages ./_gh_pages
    cp -r assets/* ./_gh_pages/assets
    mono libs/GitHubPagesGenerator.exe -t "json api v1.3"
    cd ./_gh_pages
    #
    # show result
    #
    ls
    #
    # commit + push changes
    #
    git add . --all
    git -c user.name='SaferpayDev' -c user.email='travis' commit -m "Updated Github pages"
    git push -f -q https://SaferpayDev:${GITHUB_API_KEY}@github.com/saferpay/jsonapi.git gh-pages 
    cd "$TRAVIS_BUILD_DIR"
  fi
